* {
  background-color: #f8f9fa;
  color: #343a40;
  font-family: 'Courier New', Courier, monospace;
}

.full-height {
  height: 100vh;
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-grow-3{
    flex-grow: 3;
}

.blur{
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.radio-button{
  width: 30px;
  height: 30px;
}

.play-button{
  width: 33%;
  height: 90px;
  margin-bottom: 1px;
  margin-right: 1px;
}